# Colorful ZSH
if [ -x /usr/bin/dircolors ]; then
  test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
  alias dir='dir --color=auto'
  alias vdir='vdir --color=auto'
  alias grep='grep --color=auto'
  alias fgrep='fgrep --color=auto'
  alias egrep='egrep --color=auto'
fi

# Personal aliases
alias ls='exa --icons --color=always --group-directories-first'
alias ll='ls -lF'
alias lsa='ls -lah'
alias cls='clear && sfetch'
alias btop='btop --utf-force'
alias spt='~/scripts/launchspt'
alias powermenu='~/scripts/powermenu'
alias slauncher='~/scripts/slauncher'
alias launcher='~/scripts/launcher'
alias vi='nvim'
alias sfetch='neofetch --ascii_distro arch --ascii ~/machfiles/ascii'

# git functions
push () {
  current_branch=$(git rev-parse --abbrev-ref HEAD)
  branches=$(git remote -v | grep push | awk '{print $1}')
  for branch in "$branches"
  do
    git push -u "$branch" "$current_branch"
  done
  
}

# git aliases
alias ggs='git status'
alias gga='git add'
alias ggc='git commit -m'
alias ggr='git reset'
alias ggmv='git mv -f'
alias ggrm='git rm -rf'
alias ggp=push
alias ggui='gitui'
alias lg='lazygit'

# go to aliases
alias gs='cd $HOME/scripts && lsa'
alias gd='cd $HOME/Documents && lsa'
alias gz='cd $HOME/.zsh && lsa'
alias gb='cd $HOME/.bash && lsa'
alias gc='cd $HOME/.config && lsa'
alias gt='cd $HOME/.tmux && lsa'
alias gv='cd $HOME/.config/nvim && lsa'
alias gw='cd $HOME/Projects/Working && lsa'
alias ga='cd $HOME/Projects/Archived && lsa'

alias bash='clear && exec bash'
alias sourcez='source ~/.zshrc'
